.question {
    border: 2px solid cyan;
    background-color: rgb(212, 234, 234);
    padding: 20px;
    margin: 20px auto;
}

.question p {
    background-color: chartreuse;
    padding: 15px 0;
    margin: 30px 50px;
}

.question p:hover {
    background-color: greenyellow;
}

.sixe {
    height: 30px;
    width: 30px;
    color: orangered;
}