.banner {
    height: 100vh;
    width: 100%;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/71/12/01/1000_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg);
    object-fit: cover;
}

.banner p {
    font-weight: 600;
}