.nav-link a {
    text-decoration: none;
    padding: 2px 20px;
    font-size: large;
    font-weight: 700;
    color: orangered;
}

.Logo {
    font-size: xx-large;
    font-weight: 700;
    color: orangered;
}

.active {
    color: blue !important;
}

.navbarCus {
    position: sticky;
    top: 0;
    z-index: 5;
}